@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b7d6f5;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.btn-cadastrar {
    background-color: #8ba9c7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-cadastrar:hover {
    transform: scale(1.1);
    background-color: #7390ad;
}

.link-entrar {
    text-decoration: none;
    color: #8ba9c7;
}

.link-entrar:hover {
    text-decoration: underline;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 42rem;
    height: 0.3rem;
    background-color: #8ba9c7;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #b7d6f5;
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .form-image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fde3a7d7;
        padding: 1rem;
    }
    .form-image img {
        width: 100%;
        max-width: 300px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        height: auto;
        padding: 1rem;
    }
    .form {
        padding: 2rem;
    }
}

/* Novas regras para a tela de cadastro de usuário e empresa */



.form-split-container {
    display: flex;
}

.form-split-container .form-split {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
}


.form-split-container .form-split.left {
    background-color: #b18214d7;
    color: #000;
}

.form-split-container .form-split.right {
    background-color: #3372b1;
    color: #fff;
}

.form-split-container .form-split h2 {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.form-split-container .form-split .btn-entrar {
    background-color: #8ba9c7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 1rem;
}

.form-split-container .form-split .btn-entrar:hover {
    transform: scale(1.1);
    background-color: #7390ad;
}

.form-split-container .form-split .link-cadastrar {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
}

.form-split-container .form-split .link-cadastrar:hover {
    text-decoration: underline;
}
