.container {
  max-width: auto;
  margin: auto;
  padding: 20px;
  display: grid; /* Utiliza um layout de grade */
  grid-template-columns: repeat(3, 1fr); /* Define três colunas com largura igual */
  grid-gap: 20px; /* Define o espaçamento entre os produtos */
}

/* Restante do código CSS... */

h1 {
  text-align: center;
}


.product-image {
  width: 200px;
  height: 200px;
}

.product-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.product-item h2 {
  margin-top: 0;
}

.product-item p {
  margin-bottom: 5px;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  position: relative;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}

.popup-content p {
  margin-bottom: 10px;
}

.popup-content label {
  font-weight: bold;
}

.popup-content input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.popup-content button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #0056b3;
}