

h1 {
    margin-bottom: 1.5rem;
    font-size: 50px;
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    font: bold;
}

label {
    font: bold; font-size: 20px; font-family: 'Inter', sans-serif;
    margin-left: 10px;
}

input[type="text"],
input[type="email"] {
    margin: 10px 0;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 19px;
    margin-left: 10px;
    color: #333;
    outline: none;
}

input[type="text"]:hover,
input[type="email"]:hover {
    background-color: #f5f5f5;
}

input[type="text"]:focus,
input[type="email"]:focus {
    background-color: #ebebeb;
}

input[type="text"]:disabled,
input[type="email"]:disabled {
    background-color: #f5f5f5;
}

input[type="text"]:disabled:hover,
input[type="email"]:disabled:hover {
    background-color: #f5f5f5;
    cursor: not-allowed;
}

button[type="button"],
button[type="submit"] {
    background-color: #8ba9c7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 15px;
    margin-left: 24px;
}

button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: #7390ad;
}