.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    height: 120px;
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.popup h2 {
    margin-top: 0;
    color: #333;
}

.popup p {
    color: #555;
}

.close {
    text-align: center;
    margin-top: 10px;
}

.close a {
    color: #888;
    text-decoration: none;
    padding-bottom: 60px;
}

.popup-img {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    z-index: 2;
}
.texto{
    top: 50px;
    padding: 30px;
}