.product-details {
  margin-top: 30px;
}

.product-image {
  width: 400px;
  width: 400px;
  max-width: 400px;
  height: auto;
  margin-left: 400px;
  border: solid 3px black;
}

.product-info {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 6px;
}

.product-id {
  font: bold; font-size: 20px; font-family: 'Inter', sans-serif;
  color: #999;
  margin-bottom: 10px;
}

.product-name {
  font: bold; font-size: 20px; font-family: 'Inter', sans-serif;
  margin-bottom: 10px;
}

.product-price {
  font: bold; font-size: 20px; font-family: 'Inter', sans-serif;
  margin-bottom: 10px;
}

.product-description {
  font: bold; font-size: 20px; font-family: 'Inter', sans-serif;
  margin-bottom: 20px;
}

.quantity-input {
  font: bold; font-size: 20px; font-family: 'Inter', sans-serif;
  width: 80px;
  padding: 5px 10px;
  font-size: 16px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
