.form-header h1::after {
    content: '';
    display: block;
    width: 6rem;
    height: 0.3rem;
    background-color: #8ba9c7;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}